@font-face {
    font-family: 'Ozme';
    src: url('Ozme-Regular.woff2') format('woff2'),
        url('Ozme-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

